/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: QC_FASTQ {
        ext.args = '--detect_adapter_for_pe'
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/qc" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,zip,json}"
        ]
    }

    withName: ALIGN_BWA_MEM2 {
        ext.args = '-M'
        publishDir = [
            enabled: false
        ]
    }

    withName: SORT_INDEX {
        ext.args = '-@ 8'
        publishDir = [
            enabled: false
        ]
    }

    withName: MARKDUP {
        ext.args = '-@ 8'
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/alignment" },
            mode: params.publish_dir_mode,
            pattern: "*.{cram,cram.crai,bam,bam.bai}"
        ]
    }

    withName: BQSR {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/alignment" },
            mode: params.publish_dir_mode,
            pattern: "*.{cram,cram.crai,bam,bam.bai}"
        ]
    }

    withName: CALL_GATK_HC {
        ext.args = '--emit-ref-confidence GVCF'
        publishDir = [
            [
                path: { "${params.outdir}/${meta.sample_id}/variants" },
                mode: params.publish_dir_mode,
                pattern: "*.{vcf.gz,vcf.gz.tbi}"
            ],
            [
                path: { "${params.outdir}/${meta.sample_id}/gvcf" },
                mode: params.publish_dir_mode,
                pattern: "*.{g.vcf.gz,g.vcf.gz.tbi}"
            ]
        ]
    }

    withName: JOINT_GENOTYPE {
        publishDir = [
            path: { "${params.outdir}/joint_genotyping" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: FILTER_ANNOTATE {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/variants" },
            mode: params.publish_dir_mode,
            pattern: "*.snv_indel.{vcf.gz,vcf.gz.tbi}"
        ]
    }

    withName: ENTROPY_AUGMENT {
        publishDir = [
            path: { "${params.outdir}/${meta.sample_id}/variants/entropy" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,json}"
        ]
    }

    withName: MULTIQC {
        ext.args = params.multiqc_title ? "--title \"$params.multiqc_title\"" : ''
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/run_metadata" },
            mode: params.publish_dir_mode,
            pattern: "software_versions.yml"
        ]
    }

}
